[submodule "diretivas-proj"]
	path = diretivas-proj
	url = ./diretivas-proj/
[submodule "life-cycle"]
	path = life-cycle
	url = ./life-cycle/
[submodule "modulo-proj"]
	path = modulo-proj
	url = ./modulo-proj/
[submodule "roteamento"]
	path = roteamento
	url = ./roteamento/
[submodule "servicos"]
	path = servicos
	url = ./servicos/
[submodule "diretivas-proj/"]
	url = git@github.com:LucasCta/Diretivas_Angular.git
[submodule "life-cycle/"]
	url = git@github.com:LucasCta/LifeCycle_Angular.git
[submodule "modulo-proj/"]
	url = git@github.com:LucasCta/Modulos_Angular.git
[submodule "roteamento/"]
	url = git@github.com:LucasCta/Rotas_Angular.git
[submodule "servicos/"]
	url = git@github.com:LucasCta/Services_Angular.git
