[submodule "diretivas-proj"]
	path = diretivas-proj
	url = git@github.com:LucasCta/Diretivas_Angular.git
[submodule "life-cycle"]
	path = life-cycle
	url = git@github.com:LucasCta/LifeCycle_Angular.git
[submodule "modulo-proj"]
	path = modulo-proj
	url = git@github.com:LucasCta/Modulos_Angular.git
[submodule "roteamento"]
	path = roteamento
	url = git@github.com:LucasCta/Rotas_Angular.git
[submodule "servicos"]
	path = servicos
	url = git@github.com:LucasCta/Services_Angular.git
